<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711156932780-6tua4dcdj6ibb03soamfk1uit0ghur91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711156932780-6tua4dcdj6ibb03soamfk1uit0ghur91</string>
	<key>API_KEY</key>
	<string>AIzaSyCo1Us97BBaSOqdx67cwOqbqIqJKsd-oAc</string>
	<key>GCM_SENDER_ID</key>
	<string>711156932780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeras1k.flutterTodo</string>
	<key>PROJECT_ID</key>
	<string>project1-c3ada</string>
	<key>STORAGE_BUCKET</key>
	<string>project1-c3ada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711156932780:ios:f5fb4cc34af428102f7f09</string>
</dict>
</plist>